body {
  background-color: #47B5FF;
  margin: 0;
}

.container {
  text-align: center;
  width: 100vw;
  min-height: 100vh;
  overflow: hidden;
  padding-top: 60vh;
}

.material-symbols-outlined {
  font-variation-settings:
    'FILL' 0,
    'wght' 700,
    'GRAD' 200,
    'opsz' 48
}

h1,
h2,
h3,
h4 {
  margin: 0 auto;
  text-align: center;
}

h1 {

  font-size: 6vw;
  font-family: 'Lalezar', sans-serif;
}

.scroll-down {
  position: absolute;
  bottom: 15%;
  font-family: 'Source Sans Pro', sans-serif;
}

h3 {
  font-size: 2vw;
}

.wave-container {
  position: absolute;
  bottom: -3.5%;
  margin: 0;
  width: 100vw;
  overflow: hidden;
}

.wave-img {
  width: 150vw;
  min-width: 640px;
}

h2 {
  font-size: 5vw;
  font-family: 'Lalezar', sans-serif;
}

h4 {
  font-size: 1.2vw;
  font-family: 'Source Sans Pro', sans-serif;
  max-width: 40vw;
}

h5 {
  font-size: 1.5vw;
  font-family: 'Bebas Neue', sans-serif;
  margin: 0;
}

p {
  font-size: 1vw;
  font-family: 'Source Sans Pro', sans-serif;
}

.sky {
  background-color: #ABD9FF;
  background-image: linear-gradient(#7ab6ff, #c3e4ff);
  color: #3E64FF;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 0;
  /* Override container padding */
  height: 100vh;
}

.sunlit {
  background-color: #47B5FF;
  color: #191966;
}

.twilight {
  background-color: #1f79f5;
  color: #101035;
}

.midnight {
  background-color: #1C399E;
  color: #63C1FF;
}

.abyssal {
  background-color: #191565;
  color: #A2C7FF;
}

.hadal {
  background-color: #000;
  color: #FFF;
}

.factContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  margin: 5rem auto;
  text-align: left;
  max-width: 70vw;
}

.factImg {
  width: 20vw;
}

.factText {
  width: 45vw;
}

.sources {
  background-color: #000;
  color: #FFF;
  width: 50vw;
  text-align: left;
  padding: 30vh 25vw 40vh;
}

.source-title {
  font-size: 1.3vw;
  font-family: 'Source Sans Pro', sans-serif;
  margin-top: 30px;
  margin-bottom: 5px;
}

.source-detail {
  font-size: 0.8vw;
  font-family: 'Source Sans Pro', sans-serif;
  margin: 5px 0;
}

.source-url {
  color: #7ab6ff;
  text-decoration: none;
}